.table-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
mat-table {
    display: table;
    table-layout: fixed;
}

.more-details {
    color: blue;
    cursor: pointer;
}
th, td{
    padding: 1rem;
}